{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [
        ".js",
        ".android.js",
        ".ios.js",
        ".native.js"
      ],
      "alias": {
        "styled-components": "styled-components/native"
      }
    }]
  ]
}
